@model List<HR_App.ViewModel.EmployeeVM>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid mt-4" style="direction:rtl">

    <!-- PAGE HEADER -->
    <div class="page-header mb-4 d-flex justify-content-between align-items-center flex-wrap gap-2">

        <div>
            <h2 class="badge bg-primary fs-6 px-2 py-2">
                <i class="fas fa-users me-2 text-primary"></i>
                الموظفين
            </h2>

        </div>

        <a href="/Employee/CreateEmployee"
           class="btn btn-success shadow-sm">

            <i class="fa fa-plus"></i>
            إضافة موظف

        </a>

    </div>

    <!-- TABLE CONTAINER -->
    <div class="card-body p-0">

    <div class="table-responsive">

        <table id="example" class="table table-hover table-modern text-center">


                <thead>

                    <tr>

                        <th>الإجراءات</th>

@*                         <th>#</th>
 *@
                        <th>الكود</th>

                        <th>اسم الموظف</th>

                        <th>الدور</th>

@*                         <th>الوظيفة</th>
 *@
                        <th>تاريخ التعيين</th>
                        <th>تاريخ التأمين</th>
                        <th>رصيد ثانوي</th>
                        <th>مستخدم</th>
                        <th>اعتيادي</th>
                        <th>عارضة</th>
                        <th>المرضي</th>
                        <th>مستخدم</th>
                        <th>الامتحانات</th>
                        <th>مستخدم</th>
@*                         <th>آخر تحديث الرصيد</th>
 *@                        <th>الحالة</th>

                    </tr>

                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>

                            
                            <!-- ACTIONS -->
                            <td data-label="الإجراءات">
                                <a href="/Employee/EditEmployee?id=@item.EmployeeId"
                                   class="btn btn-sm btn-primary">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a href="/Employee/DeleteEmployee?id=@item.EmployeeId"
                                   class="btn btn-sm btn-danger"
                                   onclick="return confirm('هل أنت متأكد من الحذف؟')">
                                    <i class="fas fa-trash"></i>
                                </a>


                            </td>

                           @*  <!-- ID -->
                            <td  style="display:none" data-label="#">
                                @item.EmployeeId
                            </td>
 *@
                            <!-- CODE -->
                            <td data-label="الكود">
                                @item.EmployeeCode
                            </td>

                            <!-- NAME -->
                            <td data-label="اسم الموظف">

                                <div class="fw-bold text-dark">
                                    @item.EmployeeName
                                </div>

                            </td>

                            <!-- ROLE -->
                            <td data-label="الدور">
                                @item.RoleName
                            </td>

                           @*  <!-- JOB -->
                            <td data-label="الوظيفة">
                                @item.JobTitle
                            </td> *@

                            <!-- HIRE DATE -->
                            <td data-label="تاريخ التعيين">
                                @item.HireDate?.ToString("dd-MM-yyyy")
                            </td>
                            <!-- HIRE DATE -->
                            <td data-label="تاريخ التأمين">
                                @item.InsuranceStartDate?.ToString("dd-MM-yyyy")
                            </td>
                            <td data-label="الرصيد الثانوي">
                                @item.SecondaryLeaveBalance
                            </td>
                            <td data-label="مستخدم">
                                @item.SecondaryLeaveUsedDays
                            </td>
                            <td data-label="اعتيادي">
                                @item.AnnualLeaveUsedDays
                            </td>
                            <td data-label="عارضه">
                                @item.CasualLeaveUsedDays
                            </td>
                            <td data-label="المرضي">
                                @item.SickLeaveBalance
                            </td>
                            <td data-label="مستخدم">
                                @item.SickLeaveUsedDays
                            </td>
                            <td data-label="الإمتحانات">
                                @item.ExamLeaveBalance
                            </td>
                            <td data-label="مستخدم">
                                @item.ExamLeaveUsedDays
                            </td>
                           @*  <td data-label="آخر تحديث الرصيد">
                                @item.LastLeaveBalanceUpdate?.ToString("dd-MM-yyyy")
                            </td> *@
                            <!-- STATUS -->
                            <td data-label="الحالة">

                                @if (item.IsActive)
                                {
                                    <span class="badge bg-success px-3 py-2">
                                        نشط
                                    </span>
                                }
                                else
                                {
                                    <span class="badge bg-danger px-3 py-2">
                                        غير نشط
                                    </span>
                                }

                            </td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>

</div>

@section Scripts
{
    <!-- SUCCESS MESSAGE -->
    @if (TempData["SuccessMessage"] != null)
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: 'تم بنجاح',
                html: '@TempData["SuccessMessage"]',
                confirmButtonText: 'حسناً'
            });
        </script>
    }

    <!-- DELETE -->
    <script>

        function confirmDelete(id) {

            Swal.fire({

                title: 'هل تريد حذف الموظف؟',
                html: 'لن تتمكن من التراجع بعد الحذف',
                icon: 'warning',

                showCancelButton: true,

                confirmButtonText: 'نعم، حذف',
                cancelButtonText: 'إلغاء',

                reverseButtons: true

            }).then((result) => {

                if (result.isConfirmed) {

                    window.location.href = '/Employee/DeleteEmployee/' + id;

                }

            });

        }

    </script>

  
}