@using System.Text.Json
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Circle K</title>
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/css/components.css" />

    <link href="/css/Evaluation.css" rel="stylesheet">
    <link href="/css/lib/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/report.css" />
    <link href="/css/lib/select2.min.css" rel="stylesheet" />
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/lib/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" href="/css/lib/flatpickr.min.css">
    

    <link href="/css/lib/css2.css" rel="stylesheet">


    <script>
        // تمييز الرابط النشط
        document.addEventListener("DOMContentLoaded", function () {
            let currentUrl = window.location.pathname.toLowerCase();
            document.querySelectorAll(".nav-link").forEach(function (link) {
                let linkUrl = link.getAttribute("href");
                if (linkUrl && currentUrl === linkUrl.toLowerCase()) {
                    link.classList.add("active");
                }
            });
        });
    </script>
    <style>
        #VOrderAction {
            display:none;
        }

        #Vnav
        {
            display:none;
        }
    </style>
    <script>
        var preventBack = @Html.Raw(Json.Serialize(ViewData["PreventBack"] ?? false));
        if (preventBack) {
            window.history.pushState(null, "", location.href);
            window.onpopstate = function () { window.history.pushState(null, "", location.href); };
        }
    </script>
</head>
<body>
    <div class="wrapper">

        <!-- شريط التنقل -->
        <nav class="main-header navbar" id="Vnav">
            <button class="navbar-toggler" id="navbarToggle" aria-label="Toggle navigation">&#9776;</button>

            <div class="navbar-left" id="navbarLeft">
                <div class="nav-item dropdown" id="VREmployees">
                    <a href="#" class="nav-link">تقارير</a>
                    <div class="dropdown-menu">
                        <a href="/Leave/Employees" class="dropdown-item">الموظفين</a>
                    </div>
                </div>  
                <div class="nav-item ">
                    <a href="/Leave/MyRequests" id="VRMyRequests" class="nav-link">طلباتي</a>
                </div>
                <div class="nav-item ">
                    <a href="/Leave/PendingApprovals" id="VPendingApprovals" class="nav-link">الطلبات المعلقه</a>
                </div>
                <div class="nav-item ">
                    <a href="/Leave/CreateRequest" id="VCreateRequest" class="nav-link">تسجيل طلب</a>
                </div>
                <div class="nav-item ">
                    <a href="/Leave/EmployeeHierarchy" id="VEmployeeHierarchy" class="nav-link">الربط بين الوظائف</a>
                </div>
              
                <div class="nav-item ">
                    <a href="/Leave/RequestTypes" id="VRequestTypes" class="nav-link">انواع النماذج</a>
                </div>
                <div class="nav-item ">
                    <a href="/Leave/Roles" id="VRoles" class="nav-link">الصلاحيات</a>
                </div>
                <div class="nav-item ">
                    <a href="/Leave/CreateEmployee" id="VCreateEmployee" class="nav-link">تسجيل موظف</a>
                </div>
             
            </div>

            <div class="navbar-right" id="navbarRight">
                <a href="/Home/Logout" class="nav-link">
                    تسجيل الخروج
                    <span class="usernametitle">@ViewBag.Username</span>
                </a>
            </div>
        </nav>

        <div class="content-wrapper">
            @RenderBody()
        </div>

        <!-- الفوتر -->
        <footer class="main-footer">
            <strong>&copy; <span id="current-year"></span> Circle K .</strong> جميع الحقوق محفوظة.
        </footer>
    </div>
    <!-- Core Libraries -->
    <script src="/js/lib/jquery-3.6.0.min.js"></script>
    <script src="/js/lib/sweetalert2@11.js"></script>
    <script src="/js/lib/select2.min.js"></script>
    <script src="/js/signalr.min.js"></script>

    <!-- Global JS -->
    <script src="/js/mainAttend.js"></script>

    <script src="/js/signalr.min.js"></script>
    <!-- DataTables JS -->
    <script src="/js/lib/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="/js/lib/buttons.dataTables.min.css">


    <script src="/js/lib/dataTables.buttons.min.js"></script>
    <script src="/js/lib/buttons.html5.min.js"></script>
    <script src="/js/lib/buttons.print.min.js"></script>

    <script src="/js/lib/jszip.min.js"></script>
    <script src="/js/lib/pdfmake.min.js"></script>
    <script src="/js/lib/vfs_fonts.js"></script>
    <script src="~/js/layout.js"></script>
    <script src="/js/lib/flatpickr.js"></script>
    <!-- DATATABLE -->
    <script>

              $(document).ready(function () {

            $('#example').DataTable({

                pageLength: 15,
                lengthChange: true,
                responsive: true,

                dom: 'Bfrtip',

                buttons: [

                    {
                        extend: 'excelHtml5',
                        text: 'Export To Excel'
                    }

                ]

            });

        });

    </script>
    <script>
                var username = '@ViewBag.Username';
                var isUsername = '@ViewBag.isUsername';
               var uuu = '@ViewBag.uuu';
        var role = '@ViewBag.Role';
        $('#Vnav').css('display', 'flex');
        $('#VREmployees').hide();
        $('#VPendingApprovals').show();
        $('#VCreateEmployee').hide();
        $('#VRoles').hide();
        $('#VRequestTypes').hide();
        $('#VEmployeeHierarchy').hide();
        $('#VREmployees').hide();
        // $('#VRMyRequests').hide();

        if( role != 'Manager' && role != 'HeadOfficeHR' && role!= "HRandManager" && role != 'Employee'){
            window.location.href = "/Home/Logout";
        }

                       else if  (role ===  'HeadOfficeHR') {
            $('#VREmployees').show();
            $('#VCreateEmployee').show();
            $('#VRoles').show();
            $('#VRequestTypes').show();
            $('#VEmployeeHierarchy').show();
            $('#VREmployees').show();
        }
              
                    if (!username || username.trim() === "") {

            Swal.fire({
                icon: 'warning',
                title: 'تنبيه',
                text: 'يجب تسجيل الدخول مرة أخرى',
                confirmButtonText: 'تسجيل الدخول',
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                timer: 6000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading();
                }
            }).then((result) => {

                // لو ضغط الزر
                if (result.isConfirmed) {
                    window.location.href = "/Home/Logout";
                }

                // لو انتهى الوقت (6 ثواني)
                if (result.dismiss === Swal.DismissReason.timer) {
                    window.location.href = "/Home/Logout";
                }

            });

        }
        document.getElementById("current-year").textContent = new Date().getFullYear();
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>